.App {
  flex-grow: 1;
}

.App *{
  box-sizing: border-box;
}

form{
  display: flex;
}

.inputGroup{
  position: relative;
}

.sugestions{
  position: absolute;
  top: 100%;
  width: 100%;
  background: #222;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.sugestions button{
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--green)
}

.error{
  color: brown
}

.identities {
  padding: 20px 0;
}

.identities li {
  background-color: #2a2a2a;
  padding: 10px;
  margin: 5px 0;
}

.identities button{
  color: white;
  background-color: transparent;
}

.identities .stripe{
  background-color: black;
  color:black;
}
.identities .stripe:focus,
.identities .stripe:hover,
.identities .stripe::selection{
  background-color:transparent;
  color: white;
}